body {
    margin: 0;
    padding: 0;
}

/*Imagen de la cabecera*/
.imgHeader {
    width: 100%;
    height: 200px;
}

/*Header de la cabecera*/
.navHeader {
    margin-top: 0.3%;
}

/*Navegador lateral*/
.menu {
    margin-top: 3%;
    float: left;
    width: 19%;
    position: fixed;
}

/*Contenido*/
.contenido {
    margin-left: 20%;
    margin-top: 1%;
    float: left;
    width: 78%;
    padding-left: 1%;

}

/*Pie de pagina*/
.footer {
    clear: both;
    width: 100%;
}