body {
    background-color: #313335;
}

/*Navegador cabecera*/
.navHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
 .navHeader li {
     display: inline;
}
.navHeader li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}
.navHeader li a:hover:not(.activo) {
    background-color: #ECF4F7;
    color: black;
}
.activo {
    background-color: #338DC9;
}

/*Navegador lateral*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3C3F41;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 3px;
}
.menu li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial;
}
.menu li {
    text-align: center;
    padding: 5px;
}
.menu li:last-child {
    border-bottom: none;
}
.menu li a:hover {
    background-color: #338DC9;
    color: white;
}

/*Contenido*/
.contenido {
    background-color: white;
}

/*Titulos de articulos*/
.contenido a,h5,h1 {
    font-family: Arial;
    color: #334D94;
    text-decoration: none;
}
.contenido h2 {
    font-family: Arial;
    text-decoration: none;
}
.contenido h3 {
    font-family: Arial;
    text-decoration: none;
}
.contenido img {
    width: 764px;
    height: 430px;
}
.contenido h1 {
    border-bottom: 1px solid black;
}
.contenido p {
    color: black;
    font-family: Arial;
}

/*Pie de pagina*/
.footer {
    font-family: Arial;
    color: #B6D1E0;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: white;
}

/*Videos*/
#video {
    float: left;
}

/*Imagen*/
#imagen {
    float: left;
}
#imagen img {
    width: 420px;
    height: 220px;
}

/*Tabla*/
#table{
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
#table td,th {
    border: 1px solid #ddd;
  padding: 8px;
}
#table tr:hover {
    background-color: #ddd;
}
.fila1 {
    background-color: #338DC9;
}
#section2 table {
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

/*Listas*/
#section2 ol{
    text-decoration: none;
    color: black;
    font-family: Arial;
}